In [2]:
import pandas as pd

In [6]:
data = pd.DataFrame ({
    
    "Name": ["Jaqueline","Teddy","Jheymy","Carla","Esther", "Ramiro", "Nivardo"], 
    "Lastname": ["Arias", "Cordova", "Angles", "Prado", "Munoz", "Prince", "Bolivar"], 
    "Age": [35,36,41,33,62,65,44], 
    "Sex": ["Female", "Male", " Female","Female", "Female", "Male", "Male"], 
    "Vegetariano": [True, False, True, False, False, True, True ],
    "Altezza":[1.60, 1.70, 1.65, 1.66, 1.55, 1.73, "Molto alto"]
})
data

        Name Lastname  Age      Sex  Vegetariano     Altezza
0  Jaqueline    Arias   35   Female         True         1.6
1      Teddy  Cordova   36     Male        False         1.7
2     Jheymy   Angles   41   Female         True        1.65
3      Carla    Prado   33   Female        False        1.66
4     Esther    Munoz   62   Female        False        1.55
5     Ramiro   Prince   65     Male         True        1.73
6    Nivardo  Bolivar   44     Male         True  Molto alto

In [7]:
data ["Altezza"]

0           1.6
1           1.7
2          1.65
3          1.66
4          1.55
5          1.73
6    Molto alto
Name: Altezza, dtype: object