In [2]:
import pandas as pd

In [10]:
data = pd.DataFrame({
    "Name": ["Jordan, Micheal",
             "Bryant, Kobe",
             "James, Lebron",
             "Irving, Kyrie",
             "Curry, Steph"
    ],
    
    "Teams" : ["Chicago Bulls",
               "L.A. Lakers",
               "L.A. Lakers",
               "Brooklyn Nets",
               "Golden State Warriors"
        
    ],
    
    "Birth_Place" : ["Brooklyn, USA",
                     "Philadelphia, USA",
                     "Akron, USA",
                     "Melbourne, AUS",
                     "Akron, USA"
                    
                    ],
    
    "Career Points" : [32.292,33.643,34.241,9.238,16.323]
    
})

data

              Name                  Teams        Birth_Place  Career Points
0  Jordan, Micheal          Chicago Bulls      Brooklyn, USA         32.292
1     Bryant, Kobe            L.A. Lakers  Philadelphia, USA         33.643
2    James, Lebron            L.A. Lakers         Akron, USA         34.241
3    Irving, Kyrie          Brooklyn Nets     Melbourne, AUS          9.238
4     Curry, Steph  Golden State Warriors         Akron, USA         16.323

SyntaxError: invalid syntax (<ipython-input-12-2c1b891910b9>, line 1)